# macOS cruft
.DS_Store

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Xcode user/workspace files
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode workspaces & per-user breakpoints/schemes
*.xcworkspace/
**/*.xcbkptlist
**/xcschemes/xcschememanagement.plist

# IDEs
.idea/
.vscode/

# Swift coverage / logs (optional)
*.profraw
*.profdata